Nama : Andhika Fhariel Fadhlurrohman

NIM : 2509116083

Kelas C 2025

In [1]:
import pandas as pd

##Google Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/Check point AVD/consumer_electronics_sales_data.csv'

Mounted at /content/drive

In [3]:
df = pd.read_csv(path)
df

,ProductID,ProductCategory,ProductBrand,ProductPrice,CustomerAge,CustomerGender,PurchaseFrequency,CustomerSatisfaction,PurchaseIntent
0,5874,Smartphones,Other Brands,312.949668,18,0,2,1,0
1,5875,Smart Watches,Samsung,980.389404,35,1,7,2,1
2,5876,Tablets,Samsung,2606.718293,63,0,1,5,1
3,5877,Smartphones,Samsung,870.395450,63,1,10,3,1
4,5878,Tablets,Sony,1798.955875,57,0,17,3,0
...,...,...,...,...,...,...,...,...,...
8995,14869,Smart Watches,Samsung,1041.149163,36,1,16,4,0
8996,14870,Smartphones,Samsung,1485.694311,57,0,5,1,1
8997,14871,Headphones,Samsung,2887.369597,28,0,18,4,0
8998,14872,Tablets,HP,1490.453964,38,0,4,2,1
8999,14873,Smartphones,Sony,2315.583087,62,0,15,2,1

# **Business Understanding**

Pasar elektronik konsumen sangat kompetitif dengan siklus hidup produk yang pendek. Perusahaan ritel sering kali memiliki data transaksi yang besar namun kesulitan untuk memahami siapa pelanggan mereka sebenarnya dan produk apa yang paling menguntungkan. Tanpa pemahaman ini, strategi pemasaran dan stok barang sering kali tidak tepat sasaran.

## **Business Objective**

 Tujuan utama dari inisiatif bisnis ini adalah untuk memacu pertumbuhan pendapatan melalui strategi berbasis data yang komprehensif. Dengan mengidentifikasi faktor penentu total belanja pelanggan, perusahaan dapat secara efektif meningkatkan volume penjualan sekaligus mengoptimalkan personalisasi pemasaran melalui pemetaan preferensi produk—seperti Laptop, Smartphone, dan TV berdasarkan demografi umur serta gender. Selain itu, analisis ini bertujuan untuk mencapai efisiensi operasional melalui optimalisasi inventaris yang presisi, yang didasarkan pada pemahaman mendalam mengenai pola waktu puncak pembelian dan tingkat perputaran produk yang paling diminati di pasar.

## **Asses Situasion**

Analisis ini memanfaatkan dataset komprehensif yang mencakup profil pelanggan (ID, umur, gender), detail transaksi (kategori produk, kuantitas, harga), serta data penilaian produk untuk mengukur kepuasan konsumen. Meskipun proses identifikasi tren dibatasi oleh anonimitas data yang meniadakan variabel lokasi geografis, seluruh pengolahan dan pemodelan dilakukan secara efisien menggunakan ekosistem Python khususnya pustaka Pandas, Matplotlib, dan Scikit Learn di dalam lingkungan kerja Google Colab yang kolaboratif.

## **Analytic Goals**

Proses analisis data ini dilakukan secara bertahap, dimulai dari Analisis Deskriptif untuk memetakan performa produk unggulan, profil demografi target pasar, serta tren musiman guna menangkap dinamika penjualan historis. Langkah ini diperdalam melalui Analisis Diagnostik yang mengevaluasi elastisitas harga terhadap kuantitas penjualan serta korelasi kategori produk dengan tingkat kepuasan pelanggan untuk mengidentifikasi akar permasalahan performa pasar. Untuk memitigasi risiko masa depan, Analisis Prediktif diterapkan menggunakan model regresi dan klasifikasi untuk memproyeksikan nilai transaksi serta perilaku pembelian pelanggan baru. Seluruh temuan tersebut kemudian dikonversi menjadi strategi konkret dalam Analisis Preskriptif, yang mencakup rekomendasi bundling produk yang sinergis serta optimasi kebijakan diskon yang presisi untuk menstimulasi kategori produk dengan perputaran rendah.

## **Project Plan**

Alur kerja proyek ini dimulai dengan tahap Data Preparation untuk menjamin kualitas analisis melalui pembersihan nilai yang hilang dan melakukan encoding pada variabel kategori seperti gender dan kategori produk. Selanjutnya, dilakukan Exploratory Data Analysis (EDA) untuk memvisualisasikan distribusi demografi, tren penjualan periodik, serta komparasi performa antarproduk guna menangkap pola perilaku pasar yang signifikan. Pada tahap Modeling, algoritma Machine Learning seperti Random Forest atau Linear Regression diterapkan dan hasilnya akan diuji melalui tahap Evaluation menggunakan metrik MSE atau R2 Score untuk memastikan akurasi prediksi. Seluruh rangkaian ini diakhiri dengan tahap Deployment/Reporting, di mana temuan teknis dikonversi menjadi insight strategis yang siap dipresentasikan kepada tim manajemen untuk pengambilan keputusan bisnis yang tepat.